/* CSS Variables for easy theming */
:root {
    --primary-color: #4a90e2;
    --secondary-color: #ffffff;
    --background-color: #f5f7fa;
    --text-color: #333333;
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

#plotCanvas {
    width: 100%; /* Занимаем всю ширину контейнера */
    background-color: #ffffff; /* Цвет фона */
    border: 1px solid #ccc; /* Граница */
    box-sizing: border-box; /* Учитываем отступы и границу в ширине */
    margin-top: 20px; /* Добавляем отступ сверху */
    margin-bottom: 20px; /* Добавляем отступ снизу */
    position: relative; /* Для корректного выравнивания содержимого */
}

#header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 500;
    font-family: fantasy;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 500px;
    margin: 0 auto 50px; /* Автоцентрирование и отступ снизу */
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden; /* Убираем возможные переполнения */
    position: relative;
}


.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    font-weight: 700;
    margin-bottom: 8px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 16px;
    transition: border-color var(--transition-speed);
    box-sizing: border-box; /* Учитывает padding и border в ширине */
}


.input-field input:focus {
    border-color: var(--primary-color);
    outline: none;
}

input[type="number"] {
    border: 2px solid #ccc;
}

button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

button:hover {
    background-color: #357ABD;
}

#results {
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
}

tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}

#error-message {
    margin-top: 10px;
    font-size: 14px;
}

